.s_panel {
    position: absolute;
    width: 250px;
    padding: 50px 35px;
    top: 0;
    right: -400px;
    opacity: 1;
    background-color: #EDEDED;
    height: 100vh;
}

.s_panel_close_btn {
    position: absolute;
    right: 220px;
    width: 40px;
    height: 3px;
    opacity: 0;
    background-color: black;
    margin: 27px 27px 27px 27px;
    z-index: 50;
}

.s_panel__size_selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.s_panel__base_label__show {
    background-image: url('../images/svg/arrow-black.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 9px;
    display: block;
}

.s_panel__color_selector, .s_panel__base_selector {
    background-color: #fff;
    margin: 10px 0px;
    padding: 10px;
}
.s_panel__color_selector {
    margin-bottom: 100px;
}

.s_panel__base_row_1, .s_panel__color_row_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.61px;
}

.s_panel__picker--circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.s_panel__picker--circle::after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: 3px;
    left: 3px;
}

.s_panel__color_piker {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    margin-top: 15px;
}

.s_panel__color_piker-label {
    margin-right: 15px;
}

.s_panel__base_bg-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 10px 0px;
}

.s_panel__base_bg_item {
    margin-right: 10px;
    width: 50%;
    text-align: center;
    /* margin-bottom: 10px; */
    color: #1b1b1b;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.active-elem {
    border-bottom: 5px solid black;
    width: 50%;
    margin-right: 0px;
}

.s_panel__size_guide {
    color: #1b1b1b;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

/* MODEL */

.s_panel__model_selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.s_panel__gender {
    width: 83%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
}

.s_panel__gender button {
    width: 33%;
    height: 27px;
    border: none;
    padding: 0px;
    border-radius: 7px;

    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.19px;
}

.s_panel__gender button:hover {
    background-color: #222;
    color: #fff;
}
.s_panel__gender button:active {
    background-color: #222;
    color: #fff;
}

.s_panel__model_label, .s_panel__size_label {
    margin-right: 7px;

    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

/* HEADER STICKERPACK */

.s_panel__change--button {
    background-color: #a300ff;
    color: #fff;
    width: 56px;
    border-radius: 10px;
    height: 20px;
    margin-left: 10px;

    color: #ffffff;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -0.11px;
}

.s_panel_change__type {
    margin-top: 30px;
}

.s_panel_change__type, .s_panel__change_pack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s_panel_type {
    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.s_panel__main-title {
    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04px;
}

.s_panel_author {
    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: 400;
}
.s_panel_title {
    color: #1b1b1b;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.s_panel_author {
    font-size: 12px;
}

/* SIDE PANEL PRICE */

.s_panel__price-row_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.s_panel__price_tag {
    color: #1b1b1b;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 30px;
    font-weight: bold;

    margin-right: 12px;
}

.s_panel__price_info {
    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding: 10px 0px;
}

.s_panel__info {
    display: flex;
    justify-content: space-between;
}

.s_panel__info_reviews {
    display: flex;
    justify-content: space-between;
}

.s_panel__info_reviews_label, 
.s_panel__info_about {
    color: #1b1b1b;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.s_panel__info_review_number {
    margin-left: 5px;
    color: #000000;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.08px;
}

.s_panel__stars {
    display: flex;
    justify-content: flex-end;
    margin-right: 23%;
}

.s_panel__stars-star {
    width: 14px;
    height: 14px;
    margin: 2px;
}

.star-half {
    margin-left: -2px;
    margin-right: 2px;
}

.s_panel__price-button {
    color: #ffffff;
    font-family: "Basis Grotesque Pro";
    font-size: 15px;
    font-weight: bold;

    background-image: url('../images/violet-bg.svg');
    background-repeat: no-repeat;
    width: 135px;
    height: 37px;
    background-color: transparent;
    border: none;
    /* padding-top: 10px; */
    position: relative;
}
.s_panel__price-button::after{
    content: "";
    background-image: url(../images/white-angle.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 35px;

    display: block;
    position: absolute;
    bottom: 4px;
    left: 126px;

}
.s_panel__price-button:hover {
    background-image: none;
    background-color: #a300ff;
}

.s_panel__price-button:hover::after{
    background-image: none;
    background-color: #a300ff;

    display: none;
}

