/* --------------------------
            GENERAL 
-------------------------- */
html,
body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #a300ff;
}

body {
    min-width: 320px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}

button:focus {
    outline: none;
}



/* ------------------------------
		TABLET (768px)
------------------------------ */

@media only screen and (max-width: 768px) {
    .skeleton_img {
        display: none;
    }
}
