.tshirt-frame {

}

.tshirt-frame__wrap {
    position: relative;
}

.tshirt-frame__mainPicture {
    position: fixed;
    top: 25%;
    left: 46%;

}

.tshirt-frame__description {
    position: fixed;
    top: 42%;
    left: 44%;

    color: #ffffff;
    font-family: "Amateur Printer JNL", sans-serif;
    font-size: 23px;
    text-align: center;
}

.tshirt-frame__leave {
    width: 29px;
    height: 54px;
    top: 47%;
    position: fixed;
    left: 44%;
}
.tshirt-frame__light {
    width: 29px;
    height: 54px;
    top: 47%;
    position: fixed;
    left: 55%;
}